USE [BilBakalimDB]
GO
/****** Object:  Table [dbo].[Anket]    Script Date: 21.05.2019 13:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](75) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[Gorunurluk] [bit] NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[GoruntulenmeSayisi] [int] NULL,
	[LisanID] [int] NULL,
	[ResimID] [int] NULL,
	[KullaniciID] [int] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_Anket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnketOturum]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnketOturum](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Pin] [int] NULL,
	[Cevap1] [int] NULL,
	[Cevap2] [int] NULL,
	[Cevap3] [int] NULL,
	[Cevap4] [int] NULL,
	[SoruID] [int] NULL,
 CONSTRAINT [PK_AnketOturum] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnketSoru]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnketSoru](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Soru] [nvarchar](500) NULL,
	[MedyaID] [int] NULL,
	[Cevap1] [nvarchar](500) NULL,
	[Cevap2] [nvarchar](500) NULL,
	[Cevap3] [nvarchar](500) NULL,
	[Cevap4] [nvarchar](500) NULL,
	[SinifID] [int] NULL,
	[Sure] [int] NULL,
 CONSTRAINT [PK_AnketSoru] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dİl]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dİl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Dİl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favori]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[SinifID] [int] NULL,
 CONSTRAINT [PK_dbo.Favori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](50) NULL,
	[Eposta] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Icerik] [nvarchar](500) NULL,
	[Tarih] [smalldatetime] NULL,
 CONSTRAINT [PK_Iletisim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NULL,
	[Soyadi] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Durum] [bit] NULL,
	[ResimID] [int] NULL,
	[RolID] [int] NULL,
	[EskiSifre] [nvarchar](50) NULL,
	[OlusturmaTarihi] [date] NULL,
 CONSTRAINT [PK_dbo.Kullanici] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciResim]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciResim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.KullaniciResim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NULL,
	[Icon] [nvarchar](50) NULL,
	[ParentMenuID] [int] NULL,
	[Controller] [nvarchar](50) NULL,
	[Action] [nvarchar](50) NULL,
	[AcilirMenu] [bit] NULL,
	[Aktif] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuRol]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NULL,
	[MenuId] [int] NULL,
 CONSTRAINT [PK_MenuRol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rapor]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rapor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OyunZaman] [datetime] NULL,
	[SınıfID] [int] NULL,
	[KullaniciID] [int] NULL,
	[KisiSayisi] [int] NULL,
 CONSTRAINT [PK_dbo.Rapor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resim]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](500) NULL,
	[ResimKategoriID] [int] NULL,
 CONSTRAINT [PK_dbo.Resim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResimKategori]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResimKategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](75) NULL,
	[Aktif] [bit] NULL,
 CONSTRAINT [PK_dbo.ResimKategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Rol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinif]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinif](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](75) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[Gorunurluk] [bit] NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[GoruntulenmeSayisi] [int] NULL,
	[LisanID] [int] NULL,
	[ResimID] [int] NULL,
	[VideoUrl] [nvarchar](500) NULL,
	[KullaniciID] [int] NULL,
	[SinifKategoriID] [int] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_dbo.Sinif] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinifKategori]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinifKategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](75) NULL,
	[ResimID] [int] NULL,
	[Aktif] [bit] NULL,
 CONSTRAINT [PK_dbo.SinifKategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sorular]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sorular](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Soru] [nvarchar](500) NULL,
	[Sure] [int] NULL,
	[Odul] [bit] NULL,
	[MedyaID] [int] NULL,
	[Cevap1] [nvarchar](500) NULL,
	[Cevap2] [nvarchar](500) NULL,
	[Cevap3] [nvarchar](500) NULL,
	[Cevap4] [nvarchar](500) NULL,
	[DogruCevap] [char](6) NULL,
	[SinifID] [int] NULL,
 CONSTRAINT [PK_dbo.Sorular] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takip]    Script Date: 21.05.2019 13:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takip](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TakipEdenID] [int] NULL,
	[TakipEdilenID] [int] NULL,
 CONSTRAINT [PK_dbo.Takip] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anket] ON 

INSERT [dbo].[Anket] ([ID], [Ad], [Aciklama], [Gorunurluk], [OlusturmaTarihi], [GoruntulenmeSayisi], [LisanID], [ResimID], [KullaniciID], [Durum]) VALUES (1, N'Hoca Değerlendirme', N'Dönem sonunda öğrencilerin öğretmenleri değerlendirdiği anket', 1, CAST(N'2019-05-17T11:46:35.390' AS DateTime), 0, 1, 57, 10, 1)
SET IDENTITY_INSERT [dbo].[Anket] OFF
SET IDENTITY_INSERT [dbo].[AnketOturum] ON 

INSERT [dbo].[AnketOturum] ([ID], [Pin], [Cevap1], [Cevap2], [Cevap3], [Cevap4], [SoruID]) VALUES (1, 5906, 1, 0, 0, 0, 8)
SET IDENTITY_INSERT [dbo].[AnketOturum] OFF
SET IDENTITY_INSERT [dbo].[AnketSoru] ON 

INSERT [dbo].[AnketSoru] ([ID], [Soru], [MedyaID], [Cevap1], [Cevap2], [Cevap3], [Cevap4], [SinifID], [Sure]) VALUES (8, N'Hocanız kılık kıyafeti nasıldı?', 63, N'Çok İyi', N'Orta', N'Kötü', N'Çok Kötü', 1, 20)
SET IDENTITY_INSERT [dbo].[AnketSoru] OFF
SET IDENTITY_INSERT [dbo].[Dİl] ON 

INSERT [dbo].[Dİl] ([ID], [Adi]) VALUES (1, N'Türkçe')
INSERT [dbo].[Dİl] ([ID], [Adi]) VALUES (2, N'İnglizce')
INSERT [dbo].[Dİl] ([ID], [Adi]) VALUES (3, N'Almanca')
SET IDENTITY_INSERT [dbo].[Dİl] OFF
SET IDENTITY_INSERT [dbo].[Favori] ON 

INSERT [dbo].[Favori] ([ID], [KullaniciID], [SinifID]) VALUES (1, 10, 1)
INSERT [dbo].[Favori] ([ID], [KullaniciID], [SinifID]) VALUES (2, 11, 1)
INSERT [dbo].[Favori] ([ID], [KullaniciID], [SinifID]) VALUES (3, 10, 2)
SET IDENTITY_INSERT [dbo].[Favori] OFF
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

INSERT [dbo].[Iletisim] ([ID], [Isim], [Eposta], [Telefon], [Icerik], [Tarih]) VALUES (1, N'Emre Kaymak', N'emre@gmail.com', N'5324689878', N'asdsdasdsa', CAST(N'2019-05-17T00:02:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([ID], [Adi], [Soyadi], [Email], [Aciklama], [KullaniciAdi], [Sifre], [Durum], [ResimID], [RolID], [EskiSifre], [OlusturmaTarihi]) VALUES (10, N'Emre', N'Kaymak', N'emrekymk1996@gmail.com', N'Geliştiricilerden Emre Kaymak', N'emrekymk', N'lu0c+GqlVMQ=', 1, 2, 1, NULL, CAST(N'2019-05-20' AS Date))
INSERT [dbo].[Kullanici] ([ID], [Adi], [Soyadi], [Email], [Aciklama], [KullaniciAdi], [Sifre], [Durum], [ResimID], [RolID], [EskiSifre], [OlusturmaTarihi]) VALUES (11, N'Fatih', N'Karaüzüm', N'fatih@gmail.com', N'Geliştiricilerden Fatih Karaüzüm', N'fatih', N'lu0c+GqlVMQ=', 1, 3, 1, NULL, CAST(N'2019-05-20' AS Date))
INSERT [dbo].[Kullanici] ([ID], [Adi], [Soyadi], [Email], [Aciklama], [KullaniciAdi], [Sifre], [Durum], [ResimID], [RolID], [EskiSifre], [OlusturmaTarihi]) VALUES (12, N'Mert Sait', N'Varol', N'mert@gmail.com', N'Geliştiricilerden Mert Sait VArol', N'mert', N'lu0c+GqlVMQ=', 1, 10, 1, NULL, CAST(N'2019-05-20' AS Date))
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
SET IDENTITY_INSERT [dbo].[KullaniciResim] ON 

INSERT [dbo].[KullaniciResim] ([ID], [Url]) VALUES (1, N'/Content/Resimler/Kullanici/d19f6f35-91ab-4b5b-b8ca-ec87e35153bd.jpg')
INSERT [dbo].[KullaniciResim] ([ID], [Url]) VALUES (2, N'/Content/Resimler/Kullanici/d19f6f35-91ab-4b5b-b8ca-ec87e35153bd.jpg')
INSERT [dbo].[KullaniciResim] ([ID], [Url]) VALUES (3, N'/Content/Resimler/Kullanici/a4c45ea1-7a6a-4d8c-bc3e-cb7d98e69a16.jpg')
SET IDENTITY_INSERT [dbo].[KullaniciResim] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Adi], [Icon], [ParentMenuID], [Controller], [Action], [AcilirMenu], [Aktif]) VALUES (1, N'Site Git', N' icon-arrow-right', NULL, N'Home', N'Index', 0, 1)
INSERT [dbo].[Menu] ([ID], [Adi], [Icon], [ParentMenuID], [Controller], [Action], [AcilirMenu], [Aktif]) VALUES (2, N'Kullanıcı Listesi', N'icon-user', 3, N'Admin', N'KullaniciListesi', 0, 1)
INSERT [dbo].[Menu] ([ID], [Adi], [Icon], [ParentMenuID], [Controller], [Action], [AcilirMenu], [Aktif]) VALUES (3, N'Kullanici İşlemleri', N'icon-user', NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[MenuRol] ON 

INSERT [dbo].[MenuRol] ([ID], [RolId], [MenuId]) VALUES (160, 1, 1)
INSERT [dbo].[MenuRol] ([ID], [RolId], [MenuId]) VALUES (161, 1, 2)
INSERT [dbo].[MenuRol] ([ID], [RolId], [MenuId]) VALUES (162, 1, 3)
SET IDENTITY_INSERT [dbo].[MenuRol] OFF
SET IDENTITY_INSERT [dbo].[Rapor] ON 

INSERT [dbo].[Rapor] ([ID], [OyunZaman], [SınıfID], [KullaniciID], [KisiSayisi]) VALUES (1, CAST(N'2019-05-21T00:00:00.000' AS DateTime), 1, 10, 25)
SET IDENTITY_INSERT [dbo].[Rapor] OFF
SET IDENTITY_INSERT [dbo].[Resim] ON 

INSERT [dbo].[Resim] ([ID], [Url], [ResimKategoriID]) VALUES (1, N'/Content/images/adiyaman.jpg', 1)
INSERT [dbo].[Resim] ([ID], [Url], [ResimKategoriID]) VALUES (2, N'/Content/Home/assets\img\newarrival\img1.jpeg', 1)
INSERT [dbo].[Resim] ([ID], [Url], [ResimKategoriID]) VALUES (3, N'/Content/images/mat.jpg', 1)
SET IDENTITY_INSERT [dbo].[Resim] OFF
SET IDENTITY_INSERT [dbo].[ResimKategori] ON 

INSERT [dbo].[ResimKategori] ([ID], [KategoriAdi], [Aktif]) VALUES (1, N'SinifSoru', 1)
INSERT [dbo].[ResimKategori] ([ID], [KategoriAdi], [Aktif]) VALUES (2, N'Kullanici', 1)
INSERT [dbo].[ResimKategori] ([ID], [KategoriAdi], [Aktif]) VALUES (3, N'Anket', 1)
SET IDENTITY_INSERT [dbo].[ResimKategori] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([ID], [RolAdi], [Aciklama]) VALUES (1, N'Admin', N'Bütün yetkilere sahip')
INSERT [dbo].[Rol] ([ID], [RolAdi], [Aciklama]) VALUES (2, N'Kullanıcı', N'Sistemdeki oyunları oynamak için kayıt olan kişiler')
INSERT [dbo].[Rol] ([ID], [RolAdi], [Aciklama]) VALUES (9, N'Yazar', N'Yeni sorular eklemek için görevli')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Sinif] ON 

INSERT [dbo].[Sinif] ([ID], [Ad], [Aciklama], [Gorunurluk], [OlusturmaTarihi], [GoruntulenmeSayisi], [LisanID], [ResimID], [VideoUrl], [KullaniciID], [SinifKategoriID], [Durum]) VALUES (1, N'Atatürk''ün Hayatı ', N'Atatürk  hayatı ile alakalı  bilinmesi gerekenler', 1, CAST(N'2019-05-20T00:00:00.000' AS DateTime), 150, 1, 28, NULL, 10, 3, 1)
INSERT [dbo].[Sinif] ([ID], [Ad], [Aciklama], [Gorunurluk], [OlusturmaTarihi], [GoruntulenmeSayisi], [LisanID], [ResimID], [VideoUrl], [KullaniciID], [SinifKategoriID], [Durum]) VALUES (2, N'Osmanlı  Padişahları', N'osmanlı padişahları', 1, CAST(N'2019-05-20T00:00:00.000' AS DateTime), 100, 1, 43, NULL, 11, 3, 1)
INSERT [dbo].[Sinif] ([ID], [Ad], [Aciklama], [Gorunurluk], [OlusturmaTarihi], [GoruntulenmeSayisi], [LisanID], [ResimID], [VideoUrl], [KullaniciID], [SinifKategoriID], [Durum]) VALUES (3, N'Düzce Üniversitesi', N'DZC', 1, CAST(N'2019-05-20T00:00:00.000' AS DateTime), 100, 1, 36, NULL, 12, 3, 1)
SET IDENTITY_INSERT [dbo].[Sinif] OFF
SET IDENTITY_INSERT [dbo].[SinifKategori] ON 

INSERT [dbo].[SinifKategori] ([ID], [KategoriAdi], [ResimID], [Aktif]) VALUES (1, N'Matematik', 3, 1)
INSERT [dbo].[SinifKategori] ([ID], [KategoriAdi], [ResimID], [Aktif]) VALUES (2, N'Bilim', 4, 1)
INSERT [dbo].[SinifKategori] ([ID], [KategoriAdi], [ResimID], [Aktif]) VALUES (3, N'Tarih', 5, 1)
SET IDENTITY_INSERT [dbo].[SinifKategori] OFF
SET IDENTITY_INSERT [dbo].[Sorular] ON 

INSERT [dbo].[Sorular] ([ID], [Soru], [Sure], [Odul], [MedyaID], [Cevap1], [Cevap2], [Cevap3], [Cevap4], [DogruCevap], [SinifID]) VALUES (18, N'Fenerbahçe spor klübühangi yıl kurulmuştur?', 14, 1, 1, N'1903', N'1907', N'1905', N'1909', N'Cevap2', 17)
INSERT [dbo].[Sorular] ([ID], [Soru], [Sure], [Odul], [MedyaID], [Cevap1], [Cevap2], [Cevap3], [Cevap4], [DogruCevap], [SinifID]) VALUES (19, N'Fenerbahçenin efsanevi 10 numarası Alex De Souza kaç kez gol kralı olmuştur?', 20, 1, 1, N'1', N'2', N'3', N'4', N'Cevap2', 17)
INSERT [dbo].[Sorular] ([ID], [Soru], [Sure], [Odul], [MedyaID], [Cevap1], [Cevap2], [Cevap3], [Cevap4], [DogruCevap], [SinifID]) VALUES (20, N'Fenerbahçe ezeli rakibi Galatasarayı hangi yıl 6-0 yenmiştir?', 15, 0, 1, N'2004', N'2003', N'2002', N'2001', N'Cevap3', 17)
SET IDENTITY_INSERT [dbo].[Sorular] OFF
SET IDENTITY_INSERT [dbo].[Takip] ON 

INSERT [dbo].[Takip] ([ID], [TakipEdenID], [TakipEdilenID]) VALUES (4, 10, 13)
INSERT [dbo].[Takip] ([ID], [TakipEdenID], [TakipEdilenID]) VALUES (12, 10, 14)
INSERT [dbo].[Takip] ([ID], [TakipEdenID], [TakipEdilenID]) VALUES (13, 10, 15)
SET IDENTITY_INSERT [dbo].[Takip] OFF
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_OlusturmaTarihi]  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Anket]  WITH CHECK ADD  CONSTRAINT [FK_Anket_Dİl] FOREIGN KEY([LisanID])
REFERENCES [dbo].[Dİl] ([ID])
GO
ALTER TABLE [dbo].[Anket] CHECK CONSTRAINT [FK_Anket_Dİl]
GO
ALTER TABLE [dbo].[Anket]  WITH CHECK ADD  CONSTRAINT [FK_Anket_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Anket] CHECK CONSTRAINT [FK_Anket_Kullanici]
GO
ALTER TABLE [dbo].[Anket]  WITH CHECK ADD  CONSTRAINT [FK_Anket_Resim] FOREIGN KEY([ResimID])
REFERENCES [dbo].[Resim] ([ID])
GO
ALTER TABLE [dbo].[Anket] CHECK CONSTRAINT [FK_Anket_Resim]
GO
ALTER TABLE [dbo].[AnketOturum]  WITH CHECK ADD  CONSTRAINT [FK_AnketOturum_AnketSoru] FOREIGN KEY([SoruID])
REFERENCES [dbo].[AnketSoru] ([ID])
GO
ALTER TABLE [dbo].[AnketOturum] CHECK CONSTRAINT [FK_AnketOturum_AnketSoru]
GO
ALTER TABLE [dbo].[AnketSoru]  WITH CHECK ADD  CONSTRAINT [FK_AnketSoru_Anket] FOREIGN KEY([SinifID])
REFERENCES [dbo].[Anket] ([ID])
GO
ALTER TABLE [dbo].[AnketSoru] CHECK CONSTRAINT [FK_AnketSoru_Anket]
GO
ALTER TABLE [dbo].[AnketSoru]  WITH CHECK ADD  CONSTRAINT [FK_AnketSoru_Resim] FOREIGN KEY([MedyaID])
REFERENCES [dbo].[Resim] ([ID])
GO
ALTER TABLE [dbo].[AnketSoru] CHECK CONSTRAINT [FK_AnketSoru_Resim]
GO
ALTER TABLE [dbo].[Favori]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favori_dbo.Kullanici_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Favori] CHECK CONSTRAINT [FK_dbo.Favori_dbo.Kullanici_KullaniciID]
GO
ALTER TABLE [dbo].[Favori]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favori_dbo.Sinif_SinifID] FOREIGN KEY([SinifID])
REFERENCES [dbo].[Sinif] ([ID])
GO
ALTER TABLE [dbo].[Favori] CHECK CONSTRAINT [FK_dbo.Favori_dbo.Sinif_SinifID]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kullanici_dbo.KullaniciResim_ResimID] FOREIGN KEY([ResimID])
REFERENCES [dbo].[KullaniciResim] ([ID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_dbo.Kullanici_dbo.KullaniciResim_ResimID]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kullanici_dbo.Rol_RolID] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_dbo.Kullanici_dbo.Rol_RolID]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Menu] FOREIGN KEY([ParentMenuID])
REFERENCES [dbo].[Menu] ([ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Menu]
GO
ALTER TABLE [dbo].[MenuRol]  WITH CHECK ADD  CONSTRAINT [FK_MenuRol_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([ID])
GO
ALTER TABLE [dbo].[MenuRol] CHECK CONSTRAINT [FK_MenuRol_Menu]
GO
ALTER TABLE [dbo].[MenuRol]  WITH CHECK ADD  CONSTRAINT [FK_MenuRol_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[MenuRol] CHECK CONSTRAINT [FK_MenuRol_Rol]
GO
ALTER TABLE [dbo].[Rapor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rapor_dbo.Kullanici_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Rapor] CHECK CONSTRAINT [FK_dbo.Rapor_dbo.Kullanici_KullaniciID]
GO
ALTER TABLE [dbo].[Rapor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rapor_dbo.Sinif_SınıfID] FOREIGN KEY([SınıfID])
REFERENCES [dbo].[Sinif] ([ID])
GO
ALTER TABLE [dbo].[Rapor] CHECK CONSTRAINT [FK_dbo.Rapor_dbo.Sinif_SınıfID]
GO
ALTER TABLE [dbo].[Resim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Resim_dbo.ResimKategori_ResimKategoriID] FOREIGN KEY([ResimKategoriID])
REFERENCES [dbo].[ResimKategori] ([ID])
GO
ALTER TABLE [dbo].[Resim] CHECK CONSTRAINT [FK_dbo.Resim_dbo.ResimKategori_ResimKategoriID]
GO
ALTER TABLE [dbo].[Sinif]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sinif_dbo.Dİl_LisanID] FOREIGN KEY([LisanID])
REFERENCES [dbo].[Dİl] ([ID])
GO
ALTER TABLE [dbo].[Sinif] CHECK CONSTRAINT [FK_dbo.Sinif_dbo.Dİl_LisanID]
GO
ALTER TABLE [dbo].[Sinif]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sinif_dbo.Kullanici_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Sinif] CHECK CONSTRAINT [FK_dbo.Sinif_dbo.Kullanici_KullaniciID]
GO
ALTER TABLE [dbo].[Sinif]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sinif_dbo.Resim_ResimID] FOREIGN KEY([ResimID])
REFERENCES [dbo].[Resim] ([ID])
GO
ALTER TABLE [dbo].[Sinif] CHECK CONSTRAINT [FK_dbo.Sinif_dbo.Resim_ResimID]
GO
ALTER TABLE [dbo].[Sinif]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sinif_dbo.SinifKategori_SinifKategoriID] FOREIGN KEY([SinifKategoriID])
REFERENCES [dbo].[SinifKategori] ([ID])
GO
ALTER TABLE [dbo].[Sinif] CHECK CONSTRAINT [FK_dbo.Sinif_dbo.SinifKategori_SinifKategoriID]
GO
ALTER TABLE [dbo].[SinifKategori]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SinifKategori_dbo.Resim_ResimID] FOREIGN KEY([ResimID])
REFERENCES [dbo].[Resim] ([ID])
GO
ALTER TABLE [dbo].[SinifKategori] CHECK CONSTRAINT [FK_dbo.SinifKategori_dbo.Resim_ResimID]
GO
ALTER TABLE [dbo].[Sorular]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sorular_dbo.Sinif_SinifID] FOREIGN KEY([SinifID])
REFERENCES [dbo].[Sinif] ([ID])
GO
ALTER TABLE [dbo].[Sorular] CHECK CONSTRAINT [FK_dbo.Sorular_dbo.Sinif_SinifID]
GO
ALTER TABLE [dbo].[Takip]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Takip_dbo.Kullanici_TakipEdenID] FOREIGN KEY([TakipEdenID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Takip] CHECK CONSTRAINT [FK_dbo.Takip_dbo.Kullanici_TakipEdenID]
GO
ALTER TABLE [dbo].[Takip]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Takip_dbo.Kullanici_TakipEdilenID] FOREIGN KEY([TakipEdilenID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Takip] CHECK CONSTRAINT [FK_dbo.Takip_dbo.Kullanici_TakipEdilenID]
GO
