
@{
    ViewBag.Title = "Gelistiriciler";
}
<style>
    /* Header/Logo Title */
    .header {
        text-align: center;
        background: white;
        color: green;
        font-size: 10px;
    }
</style>

<div>
    <div class="header">
        <h1>Bil Bakalım Geliştiricileri</h1>
    </div>
</div>

<div class="content-wrap">
    <div class="container">

        <div class="row">

            <!-- Emre -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="rs-team-1">
                    <div class="media-box"><img src="~/Content/Home/images/emre.jpg" alt="" class="img-fluid"></div>
                    <div class="body">
                        <div class="title">Emre KAYMAK</div>
                        <div class="position">Developer</div>
                        <p>Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.</p>
                        <div class="sosmed-icon d-inline-flex mb-5">
                            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="ig"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="in"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fatih-->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="rs-team-1">
                    <div class="media-box"><img src="~/Content/Home/images/fatih.jpg" alt="" class="img-fluid"></div>
                    <div class="body">
                        <div class="title">Fatih KARAÜZÜM</div>
                        <div class="position">Developer</div>
                        <p>Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.</p>
                        <div class="sosmed-icon d-inline-flex mb-5">
                            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="ig"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="in"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item 3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="rs-team-1">
                    <div class="media-box"><img src="~/Content/Home/images/resul.jpg" alt="" class="img-fluid"></div>
                    <div class="body">
                        <div class="title">Mert Sait VAROL</div>
                        <div class="position">Developer</div>
                        <p>Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.</p>
                        <div class="sosmed-icon d-inline-flex mb-5">
                            <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="ig"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="in"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>
