
@{
    ViewBag.Title = "Gelistiriciler";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section head{
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    }
<div class="col-md-12">
    <div class="centered-title">
        <br />
        <h1>Geliştiriciler</h1>
    </div>
</div>
<div class="wa-product-main padTB60">
    <div class="container">
        
        <div class="row marT60" id="MixItUp1">
           
                <!--Product start-->
           
                <div class="col-lg-4 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 mix women" style="display: inline-block;" data-bound="">
                    <div class="wa-product">
                        <div class="wa-product-thumbnail wa-item">
                            <img src="~/Content/images/emre.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <ul class="wa-product-icon">
                                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100019253882193"><i style="font-size:40px;color:#3B5998;margin-right:5px" class="fa">&#xf082;</i></a>
                                        <a target="_blank" href="https://github.com/emrekaymak"><i style="font-size:40px;margin-right:5px" class="fa">&#xf09b;</i></a>
                                        <a target="_blank" href="https://www.linkedin.com/in/emre-kaymak-521913146/"><i style="font-size:40px;color:#0d93ff;margin-right:5px" class="fa">&#xf08c;</i></a>
                                        <a target="_blank" href="https://plus.google.com/u/1/102592423906522451923?tab=mX"><i class="fa fa-google-plus-square" style="font-size:40px;color:red"></i></a>

                                    </ul>
                                    <div class="clear"></div>

                                </div>
                            </div>
                        </div>
                        <div class="wa-product-caption">
                            <h2><a href="product-detail.html">Emre KAYMAK</a></h2>
                            <div class="clear"></div>

                            <div class="clear"></div>
                            <span class="price">
                                Web Developer
                            </span>
                        </div>
                    </div>
                </div>
                <!--Product end-->
                <!--Product start-->
                <div class="col-lg-4 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 mix men" style="display: inline-block;" data-bound="">
                    <div class="wa-product">
                        <div class="wa-product-thumbnail wa-item">
                            <img src="~/Content/images/fatih.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <ul class="wa-product-icon">
                                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100019253882193"><i style="font-size:40px;color:#3B5998;margin-right:5px" class="fa">&#xf082;</i></a>
                                        <a target="_blank" href="https://github.com/fatih47154"><i style="font-size:40px;margin-right:5px" class="fa">&#xf09b;</i></a>
                                        <a target="_blank" href="https://www.linkedin.com/in/emre-kaymak-521913146/"><i style="font-size:40px;color:#0d93ff;margin-right:5px" class="fa">&#xf08c;</i></a>
                                        <a target="_blank" href="https://plus.google.com/u/1/102592423906522451923?tab=mX"><i class="fa fa-google-plus-square" style="font-size:40px;color:red"></i></a>

                                    </ul>
                                    <div class="clear"></div>

                                </div>
                            </div>
                        </div>
                        <div class="wa-product-caption">
                            <h2><a href="product-detail.html">Fatih KARAÜZÜM</a></h2>
                            <div class="clear"></div>

                            <div class="clear"></div>
                            <span class="price">
                                Web Developer
                            </span>
                        </div>
                    </div>
                </div>
                <!--Product end-->
                <!--Product start-->
                <div class="col-lg-4 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 mix women" style="display: inline-block;" data-bound="">
                    <div class="wa-product">
                        <div class="wa-product-thumbnail wa-item">
                            <img src="~/Content/images/emre.jpg" alt="">
                            <div class="caption">
                                <div class="caption-text">
                                    <ul class="wa-product-icon">
                                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100019253882193"><i style="font-size:40px;color:#3B5998;margin-right:5px" class="fa">&#xf082;</i></a>
                                        <a target="_blank" href="https://github.com/emrekaymak"><i style="font-size:40px;margin-right:5px" class="fa">&#xf09b;</i></a>
                                        <a target="_blank" href="https://www.linkedin.com/in/emre-kaymak-521913146/"><i style="font-size:40px;color:#0d93ff;margin-right:5px" class="fa">&#xf08c;</i></a>
                                        <a target="_blank" href="https://plus.google.com/u/1/102592423906522451923?tab=mX"><i class="fa fa-google-plus-square" style="font-size:40px;color:red"></i></a>

                                    </ul>
                                    <div class="clear"></div>

                                </div>
                            </div>
                        </div>
                        <div class="wa-product-caption">
                            <h2><a href="product-detail.html">Mert Sait VAROL</a></h2>
                            <div class="clear"></div>

                            <div class="clear"></div>
                            <span class="price">
                                Web Developer
                            </span>
                        </div>
                    </div>
                </div>
                <!--Product end-->
          
      
        </div>
    </div>
</div>