
@{
    ViewBag.Title = "SoruEkle";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="/Content/Admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/Content/Admin/css/gallery.css" />
<div class="row">

    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading"></header>

            <div class="panel-body">
                @using (Html.BeginForm("SoruEkle", "Kullanici", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Soru Giriniz" name="Soru" required>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="Odul" class="custom-control-input" value="true" id="defaultChecked2" checked>
                                    <label class="custom-control-label" for="defaultChecked2">Ödül?</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">

                                <input type="text" class="form-control" name="Cevap1" required placeholder="Cevap1" rows="3"></input>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="DogruCont" value="1" checked></label>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Cevap2" required placeholder="Cevap2" rows="3"></input>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="DogruCont" value="2" checked></label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">

                                <input type="text" class="form-control" name="Cevap3" required placeholder="Cevap3" rows="3"></input>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="DogruCont" value="3" checked></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">

                                <input type="text" class="form-control" name="Cevap4" required placeholder="Cevap4" rows="3"></input>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="DogruCont" value="4" checked></label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-10">
                        <div class="form-group">
                            <label>Resim</label>
                            <input type="file" name="resimGelen" class="form-control" placeholder="Resim giriniz.">
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <button type="submit" id="button" class="btn btn-info">Ekle</button>
                        <a href="/Home/Index" class="btn btn-danger">İptal</a>
                        <button type="reset" class="btn btn-">Temizle</button>
                        <a href="/Home/SinifAyrinti/@ViewBag.id" class="btn btn-danger">Bitir</a>

                    </div>

                }
            </div>
        </section>
    </div>
</div>
<link href="/Content/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/Content/Admin/css/style.css" rel="stylesheet">

<script src="/Content/Admin/js/jquery.js"></script>
<script src="/Content/Admin/js/jquery.nicescroll.js" type="text/javascript"></script>

<script src="/Content/Admin/js/common-scripts.js"></script>