
@{
    ViewBag.Title = "AnketSoruEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using BilBakalim.Data
@model Sinif

@using (Html.BeginForm("AnketSoruEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">

        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="col-lg-12">
                        <b> Yeni Soru Ekle</b>
                    </div>
                </header>
                <div class="panel-body">
                    <form role="form" method="post" action="/Admin/AnketSoruEkle/@Model.ID">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="form-group alt">
                                    </div>
                                    <div style="display:none" class="form-group">
                                        <label for="exampleInputEmail1">Süre (sn)</label>&nbsp;<span style="color: red;">*</span>
                                        <input type="number" class="form-control" value="@Model.ID" name="SinifID" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Soru  </label>&nbsp;<span style="color: red;">*</span>
                                        <input type="text" class="form-control" placeholder="Soruyu Giriniz..." name="Soru" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cevap 1 </label>&nbsp;<span style="color: red;">*</span>
                                        <input type="text" class="form-control" placeholder="1. Cevabı Giriniz..." name="Cevap1" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cevap 2 </label>&nbsp;<span style="color: red;">*</span>
                                        <input type="text" class="form-control" placeholder="2. Cevabı Giriniz..." name="Cevap2" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cevap 3 </label>&nbsp;<span style="color: red;">*</span>
                                        <input type="text" class="form-control" placeholder="3. Cevabı Giriniz..." name="Cevap3" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cevap 4 </label>&nbsp;<span style="color: red;">*</span>
                                        <input type="text" class="form-control" placeholder="4. Cevabı Giriniz..." name="Cevap4" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Süre (sn)</label>&nbsp;<span style="color: red;">*</span>
                                        <input type="number" class="form-control" placeholder="Süreyi Giriniz..." name="Sure" required>
                                    </div>
                                        <div class="form-group">
                                            <label>Resim</label>
                                            <input type="file" name="resimGelen" class="form-control" placeholder="Resim giriniz.">
                                        </div>
                                

                                    <button type="submit" id="button" class="btn btn-info">Kaydet</button>
                                    <a href="/Admin/AnketSoru/@Model.ID" class="btn btn-danger">İptal</a>
                                    <button type="reset" class="btn btn-default">Temizle</button>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </section>
        </div>
    </div>


}


    @section script{
        <script>
            var id;
            $("#ana").change(function () {
                id = this.value;
                $.ajax({
                    url: '/Sinif/SoruEkle/' + id,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('.alt').html(data);
                    },
                    error: function () {
                        $('.alt').html("");
                    }
                });
            });
        </script>

    }
