extends layout

block styles
  link(rel='stylesheet', href='/OturumGiris/css/styleIndex.css')
  link(rel='stylesheet', href='/OturumGiris/css/bootstrap.css')
  link(rel='stylesheet', href='/OturumGiris/css/bootstrap.min.css')

block content
  div(ng-controller="indexController", ng-init="init()")
    div#oturum(style="height: 100vh;width: 100%; position: absolute; z-index: -4")
      p(hidden)#id= id
      p(hidden)#realId= id

      .top
          .topText
            | PIN:
            b 
              span#realIdShow
                | 
            |  ile
            b  bilbakalim.com/login
            |  Adresinden Giriş Yapabilirsiniz
            
      .main
        .mainTop
          .container
            br
            .row
              .col-4.bottomText(style='float:right; text-align: left')
                b
                  span#playersCount
                  i {{ playersCount }} Oyuncu
              .col-4.bottomText(style='float:right; text-align: center')
                img(src='/OturumGiris/images/logo.png', width='30%')
              .col-4.bottomText(style='font-size:25;float:right; text-align: right')
                button#start(disabled, style='background-color: black; color: white; width: 150px; height: 55px')
                  b Başlat
            br
            br
            .row
              .col(ng-repeat="player in players", id="{{ player.id }}")
                | {{ player.username }}

      .bottom
        .bottomImage
          img(src='/OturumGiris/images/exclamation.png', width='60', height='60')
        .bottomText
          b &nbsp;&nbsp;&nbsp; Diğer Oyuncular Bekleniyor ...

    //- div(ng-repeat="player in players", id="{{ player.id }}",)
    //-   span {{ player.username }}

    //- div(ng-repeat="message in messages")
    //-   div(ng-if="!message.type.code")
    //-     span [SERVER] &nbsp;
    //-     | {{ message.message }}
  
    //- br
    //- button#start(disabled) Start
    //- br

    div(ng-repeat="question in showQuestions")
      br
      div
        | Soru)&nbsp; {{ question.Soru }}
        br
        | A)&nbsp; {{ question.Cevap1 }}
        | B)&nbsp; {{ question.Cevap2 }}
        br
        | C)&nbsp; {{ question.Cevap3 }}
        | D)&nbsp; {{ question.Cevap4 }}
        br

    div(style="display:none;")#score
      | Puanlar 
      br
      div(ng-repeat="oyuncular in oyuncular | orderBy: '-score'")
        span {{ oyuncular.username }} : &nbsp;
        span {{ oyuncular.score }}
      br
      br
      button#pass Diğer Soru
      br
      br
 
    div#answersCount
      | {{ answersCount }} &nbsp; &nbsp; &nbsp;
    
    span(style="display:none;")#remaining  

    div#middle(style="display:none;")
      span A: &nbsp;
      span#choosingA 
      br
      span B: &nbsp;
      span#choosingB 
      br
      span C: &nbsp;
      span#choosingC 
      br
      span D: &nbsp;
      span#choosingD
      br
      button#puanlar(ng-click="passScores()") Next
    

append javascripts
  script(src="/javascripts/controller/indexController.js")
  script(src="/javascripts/services/indexFactory.js")

  script(src='/OturumGiris/js/bootstrap.js')
  script(src='/OturumGiris/js/bootstrap.min.js')
  script.
    var main = $('.main');
    var colors = ['#864BBF', '#34C7CF', '#65BF39', '#FA4045', '#FF3356', ' 	#FFA502'];
    var currentIndex = 0;
    setInterval(function () {
    main.css({
    backgroundColor: colors[currentIndex]
    });
    if (!colors[currentIndex]) {
    currentIndex = 0;
    } else {
    currentIndex++;
    }
    }, 7000);
