extends layout

block content
  div(ng-controller="indexController", ng-init="init()")
    h1= title
    p Welcome to #{title}

    p(hidden)#id= id
    p(hidden)#realId= id

    div(ng-repeat="player in players", id="{{ player.id }}",)
      span {{ player.username }}

    div(ng-repeat="message in messages")
      div(ng-if="!message.type.code")
        span [SERVER] &nbsp;
        | {{ message.message }}
  
    br
    button#start(disabled) Start
    br

    div(ng-repeat="question in showQuestions")
      br
      div
        | Soru)&nbsp; {{ question.Soru }}
        br
        | A)&nbsp; {{ question.Cevap1 }}
        | B)&nbsp; {{ question.Cevap2 }}
        br
        | C)&nbsp; {{ question.Cevap3 }}
        | D)&nbsp; {{ question.Cevap4 }}
        br

    div(hidden)#score
      | Puanlar 
      br
      div(ng-repeat="oyuncular in oyuncular | orderBy: '-score'")
        span {{ oyuncular.username }} : &nbsp;
        span {{ oyuncular.score }}
      br
      br
      button#pass Diğer Soru
      br
      br
 
    div#answersCount
      | {{ answersCount }} &nbsp; &nbsp; &nbsp;
    
    span(hidden)#remaining  

    div#middle(hidden)
      span A: &nbsp;
      span#choosingA 
      br
      span B: &nbsp;
      span#choosingB 
      br
      span C: &nbsp;
      span#choosingC 
      br
      span D: &nbsp;
      span#choosingD
      br
      button#puanlar(ng-click="passScores()") Next
    

append javascripts
  script(src="/javascripts/controller/indexController.js")
  script(src="/javascripts/services/indexFactory.js")