extends layout

block styles
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='author', content='colorlib.com')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500', rel='stylesheet')
  link(href='/OyunGiris/css/main.css', rel='stylesheet')

block content
  div(ng-controller="loginController", ng-init="init()")
    p#mineId(hidden)
    //- h1= title

    .s002#loginBlock(style='margin:-50px')
      form
        fieldset
          p.deneme Bil Bakalım
        .inner-form#login
          .input-field.first-wrap
            .icon-wrap
              svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
                path(d='M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z')
            input#id(type='text', placeholder='Sınıf ID')
          .input-field.fifth-wrap
            button.btn-search#loginButton(type='button') Giriş
        
        .inner-form#name(style={display: 'none'})
          .input-field.first-wrap
            .icon-wrap
              svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
                path(d='M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z')
            input#inputName(type='text', placeholder='İsminizi Giriniz')
          .input-field.fifth-wrap
            button.btn-search#send(type='button') Kaydet

    //- div#login
    //-   span ID:&nbsp;
    //-   input#id(type="text")
    //-   button#loginButton &nbsp;
    //-     | Login

    //- br

    //- div#name(style={display: 'none'})
    //-   span Name:&nbsp;
    //-   input#inputName(type="text")
    //-   button#send &nbsp;
    //-     | Login

    div(ng-repeat="player in players", id="{{ player.id }}")
      span {{ player.username }}

    //- div(ng-repeat="message in messages")
    //-   div(ng-if="!message.type.code")
    //-     span [SERVER] &nbsp;
    //-     | {{ message.message }}

    div(ng-repeat="question in showQuestions")
      br
      div.questionID(ng-attr-id="{{ question.ID }}")
        | Soru)&nbsp; {{ question.Soru }}
        br
        
        button#Cevap1(ng-click="Cevap('Cevap1')") 
          | A)&nbsp; {{ question.Cevap1 }}
        button#Cevap2(ng-click="Cevap('Cevap2')") 
          | B)&nbsp; {{ question.Cevap2 }}
        br
        button#Cevap3(ng-click="Cevap('Cevap3')") 
          | C)&nbsp; {{ question.Cevap3 }}
        button#Cevap4(ng-click="Cevap('Cevap4')") 
          | D)&nbsp; {{ question.Cevap4 }}
        br

    br
    div(hidden)#score
      | Puanlar 
      br
      div(ng-repeat="oyuncular in oyuncular | orderBy: 'score'", id="{{ oyuncular.id }}")
        span {{ oyuncular.username }} : &nbsp;
        span {{ oyuncular.score }}
      br
      br
    
    div#answersCount
      | {{ answersCount }} &nbsp; &nbsp; &nbsp;
    
    span#remaining  

    div#middle(hidden)
      div#middleSub(hidden)
        div#correct(hidden)
          | Correct
          br
          span#Puan  
          br
          span#firstBeetwen

        div#wrong(hidden)
          | Wrong 
          br
          span#Puan  
          br
          span#firstBeetwen

        div#timeUp(hidden)
          | Time Up 
          br
          span#Puan 
          br
          span#firstBeetwen
      
append javascripts
  script(src="/javascripts/controller/loginController.js")
  script(src="/javascripts/services/loginFactory.js")
