body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.passive{
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  margin: -50px;
}

.passive > div{
  margin: auto;
}

.passive > div > b > i{
  color: white;
	font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 5vh;
}


