
<label for="exampleInputEmail1">Sınıf Seçiniz </label>&nbsp;<span style="color: red;">*</span>
@Html.DropDownList("altKategoriID", (SelectList)ViewBag.sinif, "Seçiniz...", new { @class = "form-control", required = "required" })