
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kids World &#8211; Just another WordPress site</title>
    <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Kids World &raquo; Feed" href="/Content/Admin/https://kidsheaven.wpengine.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Kids World &raquo; Comments Feed" href="/Content/Admin/https://kidsheaven.wpengine.com/comments/feed/" />
    <link rel="alternate" type="text/calendar" title="Kids World &raquo; iCal Feed" href="/Content/Admin/https://kidsheaven.wpengine.com/events/?ical=1" />
    <script type="text/javascript">
    window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/kidsheaven.wpengine.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.9" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);</script>
    <style type="text/css">

        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tribe_events-widget-calendar-pro-style-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/events-calendar-pro/src/resources/css/widget-calendar-full.css?ver=4.4.6' type='text/css' media='all' />
    <link rel='stylesheet' id='tribe_events--widget-calendar-pro-override-style-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/events-calendar-pro/src/resources/css/widget-calendar-full.css?ver=4.4.6' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-animation-css-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/css/animations.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-sc-css-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/css/shortcodes.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_styles-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/instagram-feed/css/sb-instagram.min.css?ver=1.9' type='text/css' media='all' />
    <link rel='stylesheet' id='sb-font-awesome-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='resmap_css-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/responsive-maps-plugin/includes/css/resmap.min.css?ver=4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.4.3.1' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>

        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='wpsl-styles-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/wp-store-locator/css/styles.min.css?ver=2.2.15' type='text/css' media='all' />
    <link rel='stylesheet' id='tribe-events-calendar-pro-style-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full.min.css?ver=4.4.6' type='text/css' media='all' />
    <link rel='stylesheet' id='tribe-events-calendar-pro-mobile-style-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full-mobile.min.css?ver=4.4.6' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='tribe-events-calendar-pro-override-style-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/tribe-events/pro/tribe-events-pro.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bsf-Defaults-css' href='https://kidsheaven.wpengine.com/wp-content/uploads/smile_fonts/Defaults/Defaults.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-style-min-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/ultimate.min.css?ver=3.16.10' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/style.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.base-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/base.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.grid-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/grid.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.widgets-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/widget.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.layout-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/layout.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.blog-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/blog.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.portfolio-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/portfolio.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.contact-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/contact.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.customclass-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/custom-class.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.browser-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/browser.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyphoto-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto.min.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-font-awesome-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/font-awesome.min.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pe-icon-7-stroke-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/pe-icon-7-stroke.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='stroke-gap-icons-style-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/stroke-gap-icons-style.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='icon-moon-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/icon-moon.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='material-design-iconic-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/material-design-iconic-font.min.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='icomoon-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/icomoon.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.woo-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/woocommerce.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.storelocator-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/store-locator.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.customevent-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/tribe-events/custom.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.responsive-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/responsive.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800%257CRoboto%3A100%2C300%2C400%2C400italic%2C500%2C600%2C700%2C800&#038;subset&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='kidsworld.custom-css' href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/css/custom.css?ver=1.3' type='text/css' media='all' />
    <style id='kidsworld-combined-inline-css' type='text/css'>
    </style>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.4.3.1'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.4.3.1'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/kidsheaven.wpengine.com\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */</script>
    <script type='text/javascript' src='//kidsheaven.wpengine.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.0.5'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=5.1.1'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate.min.js?ver=3.16.10'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/framework/js/modernizr.custom.js?ver=4.9.9'></script>
    <link rel='https://api.w.org/' href='https://kidsheaven.wpengine.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/Content/Admin/https://kidsheaven.wpengine.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/Content/Admin/https://kidsheaven.wpengine.com/wp-includes/wlwmanifest.xml" />
    <link rel="canonical" href="/Content/Admin/https://kidsheaven.wpengine.com/" />
    <link rel='shortlink' href='https://kidsheaven.wpengine.com/' />
    <link rel="alternate" type="application/json+oembed" href="/Content/Admin/https://kidsheaven.wpengine.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkidsheaven.wpengine.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="/Content/Admin/https://kidsheaven.wpengine.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkidsheaven.wpengine.com%2F&#038;format=xml" />
    <meta name="tec-api-version" content="v1">
    <meta name="tec-api-origin" content="https://kidsheaven.wpengine.com">
    <link rel="htt://theeventscalendar.com" href="/Content/Admin/https://kidsheaven.wpengine.com/wp-json/tribe/events/v1/" />
    <link href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
    <link href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/images/apple-touch-icon.png' rel='apple-touch-icon' />
    <link href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/images/apple-touch-icon-114x114.png' sizes='114x114' rel='apple-touch-icon' />
    <link href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/images/apple-touch-icon-72x72.png' sizes='72x72' rel='apple-touch-icon' />
    <link href='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/images/apple-touch-icon-144x144.png' sizes='144x144' rel='apple-touch-icon' />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/Content/Admin/https://kidsheaven.wpengine.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.4.3.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1504008669903 {
            margin-top: -50px !important;
            padding-top: 50px !important;
            padding-bottom: 40px !important;
            background-color: #f8f8f8 !important;
        }

        .vc_custom_1489057251778 {
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }

        .vc_custom_1504009345366 {
            padding-top: 14.6% !important;
            padding-bottom: 19.4% !important;
            background-image: url(https://kidsheaven.wpengine.com/wp-content/uploads/2016/11/fullwidth-slider-section-min.jpg?id=9229) !important;
            background-position: 0 0 !important;
            background-repeat: no-repeat !important;
        }

        .vc_custom_1487822389352 {
            padding-top: 60px !important;
        }

        .vc_custom_1504010571352 {
            padding-top: 60px !important;
            padding-bottom: 80px !important;
            background-color: #f8f8f8 !important;
        }

        .vc_custom_1485253432089 {
            padding-top: 60px !important;
        }

        .vc_custom_1485253343266 {
            padding-bottom: 50px !important;
        }

        .vc_custom_1504010993799 {
            padding-top: 57px !important;
            padding-bottom: 40px !important;
            background-image: url(https://kidsheaven.wpengine.com/wp-content/uploads/2017/01/doodle_bg.png?id=9182) !important;
            background-position: 0 0 !important;
            background-repeat: repeat !important;
        }

        .vc_custom_1485253432089 {
            padding-top: 60px !important;
        }

        .vc_custom_1489738799041 {
            padding-bottom: 188px !important;
        }

        .vc_custom_1504011180769 {
            padding-bottom: 115px !important;
            background-image: url(https://kidsheaven.wpengine.com/wp-content/uploads/2016/11/doodle_bg2.png?id=11214) !important;
            background-position: 0 0 !important;
            background-repeat: repeat !important;
        }

        .vc_custom_1488968916575 {
            padding-right: 10px !important;
        }

        .vc_custom_1488968927438 {
            padding-left: 10px !important;
        }

        .vc_custom_1488969048780 {
            padding-right: 10px !important;
        }

        .vc_custom_1488969060417 {
            padding-left: 10px !important;
        }

        .vc_custom_1485867549632 {
            margin-top: -100px !important;
            padding-bottom: 45px !important;
        }

        .vc_custom_1486465195469 {
            margin-bottom: 35px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    <style id='veda-custom-shortcode-css-inline-css' type='text/css'>

        .iconbox-95220660659065901319813555051958439786.dt-sc-icon-box.type5 .icon-wrapper {
            background: #ff3366;
        }

        .iconbox-95220660659065901319813555051958439786.dt-sc-icon-box.type5.no-icon-bg .icon-wrapper span {
            color: #ff3366;
        }

        .iconbox-95220660659065901319813555051958439786.dt-sc-icon-box.type5.no-icon .icon-content h4, .iconbox-95220660659065901319813555051958439786.dt-sc-icon-box.type5.no-icon {
            border-color: #ff3366;
        }

        .iconbox-10608228794861146341482207996233451244.dt-sc-icon-box.type5 .icon-wrapper {
            background: #08aaf4;
        }

        .iconbox-10608228794861146341482207996233451244.dt-sc-icon-box.type5.no-icon-bg .icon-wrapper span {
            color: #08aaf4;
        }

        .iconbox-10608228794861146341482207996233451244.dt-sc-icon-box.type5.no-icon .icon-content h4, .iconbox-10608228794861146341482207996233451244.dt-sc-icon-box.type5.no-icon {
            border-color: #08aaf4;
        }

        .iconbox-17787167219435440033582776501695625754.dt-sc-icon-box.type5 .icon-wrapper {
            background: #fe5a27;
        }

        .iconbox-17787167219435440033582776501695625754.dt-sc-icon-box.type5.no-icon-bg .icon-wrapper span {
            color: #fe5a27;
        }

        .iconbox-17787167219435440033582776501695625754.dt-sc-icon-box.type5.no-icon .icon-content h4, .iconbox-17787167219435440033582776501695625754.dt-sc-icon-box.type5.no-icon {
            border-color: #fe5a27;
        }

        .iconbox-126193820545202849815508412699211649.dt-sc-icon-box.type6 .icon-wrapper span, .iconbox-126193820545202849815508412699211649.dt-sc-icon-box.type6 .icon-content h4 {
            color: #e91e63;
        }

        .iconbox-126193820545202849815508412699211649.dt-sc-icon-box.type6 .icon-content a.dt-sc-button {
            background: #e91e63;
        }

        .iconbox-126193820545202849815508412699211649.dt-sc-icon-box.type6:hover {
            border-color: #e91e63;
        }

        .iconbox-16953769074509646618658064281213717274.dt-sc-icon-box.type6 .icon-wrapper span, .iconbox-16953769074509646618658064281213717274.dt-sc-icon-box.type6 .icon-content h4 {
            color: #88d914;
        }

        .iconbox-16953769074509646618658064281213717274.dt-sc-icon-box.type6 .icon-content a.dt-sc-button {
            background: #88d914;
        }

        .iconbox-16953769074509646618658064281213717274.dt-sc-icon-box.type6:hover {
            border-color: #88d914;
        }

        .iconbox-138594392351124913913536062601565452905.dt-sc-icon-box.type6 .icon-wrapper span, .iconbox-138594392351124913913536062601565452905.dt-sc-icon-box.type6 .icon-content h4 {
            color: #10b6fe;
        }

        .iconbox-138594392351124913913536062601565452905.dt-sc-icon-box.type6 .icon-content a.dt-sc-button {
            background: #10b6fe;
        }

        .iconbox-138594392351124913913536062601565452905.dt-sc-icon-box.type6:hover {
            border-color: #10b6fe;
        }

        .iconbox-254778798186525723311488324011012990339.dt-sc-icon-box.type6 .icon-wrapper span, .iconbox-254778798186525723311488324011012990339.dt-sc-icon-box.type6 .icon-content h4 {
            color: #fd5a0f;
        }

        .iconbox-254778798186525723311488324011012990339.dt-sc-icon-box.type6 .icon-content a.dt-sc-button {
            background: #fd5a0f;
        }

        .iconbox-254778798186525723311488324011012990339.dt-sc-icon-box.type6:hover {
            border-color: #fd5a0f;
        }

        .iconbox-170404720113309229218645097391571671461.dt-sc-icon-box.type3 .icon-wrapper span {
            color: #ff5722;
        }

        .iconbox-170404720113309229218645097391571671461.dt-sc-icon-box.type3:hover {
            border-color: #ff5722;
        }

            .iconbox-170404720113309229218645097391571671461.dt-sc-icon-box.type3:hover .icon-content h4 {
                color: #ff5722;
            }

        .iconbox-170404720113309229218645097391571671461.dt-sc-icon-box.type3.dt-sc-rounded .icon-wrapper {
            background: #ff5722;
        }

        .iconbox-19862063662043007894241071249626021088.dt-sc-icon-box.type3 .icon-wrapper span {
            color: #88d914;
        }

        .iconbox-19862063662043007894241071249626021088.dt-sc-icon-box.type3:hover {
            border-color: #88d914;
        }

            .iconbox-19862063662043007894241071249626021088.dt-sc-icon-box.type3:hover .icon-content h4 {
                color: #88d914;
            }

        .iconbox-19862063662043007894241071249626021088.dt-sc-icon-box.type3.dt-sc-rounded .icon-wrapper {
            background: #88d914;
        }

        .post-99526978114795586911992743945282859836.default.blog-entry .entry-details .dt-sc-button, .post-99526978114795586911992743945282859836.default.blog-entry .entry-title h4 a:after, .post-99526978114795586911992743945282859836.default.blog-entry .entry-format a {
            background: #e91e63;
        }

        .post-99526978114795586911992743945282859836.default.blog-entry:hover .entry-title h4 a, .post-99526978114795586911992743945282859836.default.blog-entry a:not(.dt-sc-button):hover, .post-99526978114795586911992743945282859836.default.blog-entry .entry-thumb .date {
            color: #e91e63;
        }

        .post-99526978114795586911992743945282859836.default.blog-entry:hover {
            border-color: #e91e63;
        }

        .post-660846867977647901607397722366433953.default.blog-entry .entry-details .dt-sc-button, .post-660846867977647901607397722366433953.default.blog-entry .entry-title h4 a:after, .post-660846867977647901607397722366433953.default.blog-entry .entry-format a {
            background: #88d914;
        }

        .post-660846867977647901607397722366433953.default.blog-entry:hover .entry-title h4 a, .post-660846867977647901607397722366433953.default.blog-entry a:not(.dt-sc-button):hover, .post-660846867977647901607397722366433953.default.blog-entry .entry-thumb .date {
            color: #88d914;
        }

        .post-660846867977647901607397722366433953.default.blog-entry:hover {
            border-color: #88d914;
        }

        .post-149507313261463995512244175101497636029.default.blog-entry .entry-details .dt-sc-button, .post-149507313261463995512244175101497636029.default.blog-entry .entry-title h4 a:after, .post-149507313261463995512244175101497636029.default.blog-entry .entry-format a {
            background: #10b6fe;
        }

        .post-149507313261463995512244175101497636029.default.blog-entry:hover .entry-title h4 a, .post-149507313261463995512244175101497636029.default.blog-entry a:not(.dt-sc-button):hover, .post-149507313261463995512244175101497636029.default.blog-entry .entry-thumb .date {
            color: #10b6fe;
        }

        .post-149507313261463995512244175101497636029.default.blog-entry:hover {
            border-color: #10b6fe;
        }

        .events-905936596297270423208472532987726285.dt-sc-event.type5:hover .events-cost-booking .dt-sc-event-cost .event-booking-price, .events-905936596297270423208472532987726285.dt-sc-event.type5:hover h2.entry-title a, .events-905936596297270423208472532987726285.dt-sc-event.type5 .dt-sc-event-thumb .dt-sc-event-date {
            color: #1ec0ff;
        }

        .events-905936596297270423208472532987726285.dt-sc-event.type5 .dt-sc-events-read-more {
            background: #1ec0ff;
        }

        .events-1755753360931829671675327214920330310.dt-sc-event.type5:hover .events-cost-booking .dt-sc-event-cost .event-booking-price, .events-1755753360931829671675327214920330310.dt-sc-event.type5:hover h2.entry-title a, .events-1755753360931829671675327214920330310.dt-sc-event.type5 .dt-sc-event-thumb .dt-sc-event-date {
            color: #f05c5c;
        }

        .events-1755753360931829671675327214920330310.dt-sc-event.type5 .dt-sc-events-read-more {
            background: #f05c5c;
        }

        .events-132902153990389897619646925411132867286.dt-sc-event.type5:hover .events-cost-booking .dt-sc-event-cost .event-booking-price, .events-132902153990389897619646925411132867286.dt-sc-event.type5:hover h2.entry-title a, .events-132902153990389897619646925411132867286.dt-sc-event.type5 .dt-sc-event-thumb .dt-sc-event-date {
            color: #fb9130;
        }

        .events-132902153990389897619646925411132867286.dt-sc-event.type5 .dt-sc-events-read-more {
            background: #fb9130;
        }

        .events-3808706601775772648587596033662644912.dt-sc-event.type5:hover .events-cost-booking .dt-sc-event-cost .event-booking-price, .events-3808706601775772648587596033662644912.dt-sc-event.type5:hover h2.entry-title a, .events-3808706601775772648587596033662644912.dt-sc-event.type5 .dt-sc-event-thumb .dt-sc-event-date {
            color: #d8206a;
        }

        .events-3808706601775772648587596033662644912.dt-sc-event.type5 .dt-sc-events-read-more {
            background: #d8206a;
        }

        .events-144529195116377196971760042485728903102.dt-sc-event.type5:hover .events-cost-booking .dt-sc-event-cost .event-booking-price, .events-144529195116377196971760042485728903102.dt-sc-event.type5:hover h2.entry-title a, .events-144529195116377196971760042485728903102.dt-sc-event.type5 .dt-sc-event-thumb .dt-sc-event-date {
            color: #5a9615;
        }

        .events-144529195116377196971760042485728903102.dt-sc-event.type5 .dt-sc-events-read-more {
            background: #5a9615;
        }
    </style>
</head>

<body class="home page-template-default page page-id-7467 tribe-no-js layout-wide fullwidth-header sticky-header standard-header header-with-topbar woo-type1 page-with-slider wpb-js-composer js-comp-ver-5.1.1 vc_responsive">


    <!-- **Wrapper** -->
    <div class="wrapper">
        <div class="inner-wrapper">

            <!-- **Header Wrapper** -->
            <div id="header-wrapper" class="">
                <!-- **Header** -->
                <header id="header">
                    <div class="top-bar">
                        <div class="container">
                            <div class="vc-no-left-padding wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <ul class='dt-sc-sociable  '><li> <a class='fa fa-facebook' title='Facebook' href='#'> </a> </li><li> <a class='fa fa-twitter' title='Twitter' href='#'> </a> </li><li> <a class='fa fa-pinterest' title='Pinterest' href='#'> </a> </li><li> <a class='fa fa-instagram' title='Instagram' href='#'> </a> </li></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="alignright vc-no-right-padding wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">

                                        <div class='text-with-icon'><span class='icomoon icon-Envelope'> </span><a href='mailto:admin@kidsworld.com'> admin@kidsworld.com </a></div>
                                        <div class='text-with-icon'><span class='icomoon icon-Phone-2'> </span>224 3361 3334</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- **Main Header Wrapper** -->
                    <div id="main-header-wrapper" class="main-header-wrapper">

        <!-- NAVBAR SECTION -->
        <div class="navbar-main">
            <div class="container">
                <nav id="navbar-example" class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/Content/Home/index-1.html">
                        <img src="/Content/Home/images\logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index">ANA SAYFA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Kullanici/SinifEkle">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Content/Home/classes.html">RAPORLAR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Gelistiriciler">GELİŞTİRİCİLER</a>
                            </li>
                            <li class="nav-item dropdown dmenu">
                                <a class="nav-link dropdown-toggle" href="/Content/Home/#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    PAGES
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Content/Home/page-gallery.html">GALLERY</a>
                                    <a class="dropdown-item" href="/Content/Home/page-testimonials.html">TESTIMONIALS</a>
                                    <a class="dropdown-item" href="/Content/Home/page-faq.html">FAQ</a>
                                    <a class="dropdown-item" href="/Content/Home/page-404.html">404 PAGE</a>
                                    <a class="dropdown-item" href="/Content/Home/page-events.html">EVENTS</a>
                                    <a class="dropdown-item" href="/Content/Home/page-events-single.html">SINGLE EVENTS</a>
                                    <a class="dropdown-item" href="/Content/Home/page-news.html">NEWS</a>
                                    <a class="dropdown-item" href="/Content/Home/page-news-single.html">SINGLE NEWS</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Content/Home/contact.html">İLETİŞİM</a>
                            </li>
                        </ul>
                    </div>
                </nav> <!-- -->

            </div>
        </div>

    </div>


    @RenderBody()
                        <div class="container">

                            <!-- **Main Header** -->
                            <div class="main-header">
                                <div id="logo">
                                    <a href="/Content/Admin/https://kidsheaven.wpengine.com/" title="Kids World">
                                        <img class="normal_logo" src="~/Content/images/logo.png" alt="Kids World" title="Kids World" />
                                        <img class="darkbg_logo" src="/Content/Admin/https://kidsheaven.wpengine.com/wp-content/themes/kids-world/images/light-logo.png" alt="Kids World" title="Kids World" />
                                    </a>
                                </div>
                                <div id="menu-wrapper" class="menu-wrapper ">
                                    <div class="dt-menu-toggle" id="dt-menu-toggle">
                                        Menu                                    <span class="dt-menu-toggle-icon"></span>
                                    </div><nav id="main-menu" class="menu-kids-home-container">
                                        <ul class="menu">
                                            <li id="menu-item-11917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7467 current_page_item menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-simple-parent ">
                                                <a href="/Content/Admin/https://kidsheaven.wpengine.com/" style="color:#624dd6">Home<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a>

                                                <ul class="sub-menu animate dtfadeInUp">
                                                    <li id="menu-item-10577" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/home-kindergarten/" style="color:#624dd6">Home Kindergarten<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-10578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/home-landing/" style="color:#624dd6">Home Landing<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-10579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/home-school/" style="color:#624dd6">Home School<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-10580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/home-sports/" style="color:#624dd6">Home Sports<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-10581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/home-training-institute/" style="color:#624dd6">Home Training Institute<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-10582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/home-university/" style="color:#624dd6">Home University<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-12168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/kids-events/" style="color:#624dd6">Home Events<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-12265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shop-home/" style="color:#624dd6">Home Shop<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                    <li id="menu-item-12478" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/home-blog/" style="color:#624dd6">Home Blog<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                </ul>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                            <li id="menu-item-10919" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-simple-parent ">
                                                <a href="/Content/Admin/#" style="color:#51e29a">ABOUT<span class="menu-highlighter" style="text-shadow: 8px 0 #51e29a, -8px 0 #51e29a, 0px 0 #51e29a;"></span></a>

                                                <ul class="sub-menu animate dtfadeInUp">
                                                    <li id="menu-item-10272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/why-kidsworld/" style="color:#51e29a">Why  KidsWorld<span class="menu-highlighter" style="text-shadow: 8px 0 #51e29a, -8px 0 #51e29a, 0px 0 #51e29a;"></span></a></li>
                                                    <li id="menu-item-10274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/directors/" style="color:#51e29a">Directors<span class="menu-highlighter" style="text-shadow: 8px 0 #51e29a, -8px 0 #51e29a, 0px 0 #51e29a;"></span></a></li>
                                                    <li id="menu-item-10270" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/awards/" style="color:#51e29a">Awards<span class="menu-highlighter" style="text-shadow: 8px 0 #51e29a, -8px 0 #51e29a, 0px 0 #51e29a;"></span></a></li>
                                                    <li id="menu-item-10271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/testimonials/" style="color:#51e29a">Testimonials<span class="menu-highlighter" style="text-shadow: 8px 0 #51e29a, -8px 0 #51e29a, 0px 0 #51e29a;"></span></a></li>
                                                    <li id="menu-item-10273" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"></li>
                                                    <li id="menu-item-10733" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/infrastructure/" style="color:#51e29a">Infrastructure<span class="menu-highlighter" style="text-shadow: 8px 0 #51e29a, -8px 0 #51e29a, 0px 0 #51e29a;"></span></a></li>
                                                </ul>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                            <li id="menu-item-11947" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-simple-parent ">
                                                <a href="/Content/Admin/https://kidsheaven.wpengine.com/academics/" style="color:#dd4f75">Academics<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a>

                                                <ul class="sub-menu animate dtfadeInUp">
                                                    <li id="menu-item-12371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                                        <a href="/Content/Admin/https://kidsheaven.wpengine.com/academics/curriculum/" style="color:#dd4f75">Curriculum<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a>
                                                        <ul class="sub-menu animate dtfadeInUp">
                                                            <li id="menu-item-12703" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-2">
                                                                <a href="/Content/Admin/https://kidsheaven.wpengine.com/test-2/" style="color:#624dd6">test<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a>
                                                                <ul class="sub-menu animate dtfadeInUp">
                                                                    <li id="menu-item-12704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-3">
                                                                        <a href="/Content/Admin/https://kidsheaven.wpengine.com/test/" style="color:#624dd6">Test<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a>
                                                                        <ul class="sub-menu animate dtfadeInUp">
                                                                            <li id="menu-item-12705" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-4"><a href="/Content/Admin/https://kidsheaven.wpengine.com/testpage/" style="color:#624dd6">testpage<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                                        </ul>
                                                                        <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                                    </li>
                                                                </ul>
                                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                            </li>
                                                        </ul>
                                                        <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                    </li>
                                                    <li id="menu-item-10849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/our-approach/" style="color:#dd4f75">Our Approach<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a></li>
                                                    <li id="menu-item-12378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/classes/" style="color:#dd4f75">Classes<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a></li>
                                                    <li id="menu-item-10727" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/faculty/" style="color:#dd4f75">Faculty<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a></li>
                                                    <li id="menu-item-10728" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/work-with-us/" style="color:#dd4f75">Work With Us<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a></li>
                                                    <li id="menu-item-10268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                                        <a href="/Content/Admin/https://kidsheaven.wpengine.com/careers/" style="color:#dd4f75">Careers<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a>
                                                        <ul class="sub-menu animate dtfadeInUp">
                                                            <li id="menu-item-10283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/career-opportunities/" style="color:#dd4f75">Career Opportunities<span class="menu-highlighter" style="text-shadow: 8px 0 #dd4f75, -8px 0 #dd4f75, 0px 0 #dd4f75;"></span></a></li>
                                                        </ul>
                                                        <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                    </li>
                                                </ul>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                            <li id="menu-item-10920" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-simple-parent ">
                                                <a href="/Content/Admin/#" style="color:#88d914">franchise<span class="menu-highlighter" style="text-shadow: 8px 0 #88d914, -8px 0 #88d914, 0px 0 #88d914;"></span></a>

                                                <ul class="sub-menu animate dtfadeInUp">
                                                    <li id="menu-item-10729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/prerequisites/" style="color:#88d914">Prerequisites<span class="menu-highlighter" style="text-shadow: 8px 0 #88d914, -8px 0 #88d914, 0px 0 #88d914;"></span></a></li>
                                                    <li id="menu-item-10730" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/apply-online/" style="color:#88d914">Apply Online<span class="menu-highlighter" style="text-shadow: 8px 0 #88d914, -8px 0 #88d914, 0px 0 #88d914;"></span></a></li>
                                                    <li id="menu-item-10731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/what-you-get/" style="color:#88d914">What You Get<span class="menu-highlighter" style="text-shadow: 8px 0 #88d914, -8px 0 #88d914, 0px 0 #88d914;"></span></a></li>
                                                </ul>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                            <li id="menu-item-10267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-simple-parent ">
                                                <a href="/Content/Admin/https://kidsheaven.wpengine.com/gallery/" style="color:#09b89d">Gallery<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a>

                                                <ul class="sub-menu animate dtfadeInUp">
                                                    <li id="menu-item-10939" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-title-overlay/" style="color:#09b89d">Portfolio – Title Overlay<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-title-icons-overlay/" style="color:#09b89d">Portfolio &#8211; Title &#038; Icons Overlay<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10941" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-presentation/" style="color:#09b89d">Portfolio – Presentation<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10942" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-modern-title/" style="color:#09b89d">Portfolio – Modern Title<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10943" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-minimal-icons/" style="color:#09b89d">Portfolio – Minimal Icons<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10944" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-icons-only/" style="color:#09b89d">Portfolio – Icons Only<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10945" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-girly/" style="color:#09b89d">Portfolio – Girly<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10946" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-classic/" style="color:#09b89d">Portfolio – Classic<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                    <li id="menu-item-10947" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/portfolio-art/" style="color:#09b89d">Portfolio – Art<span class="menu-highlighter" style="text-shadow: 8px 0 #09b89d, -8px 0 #09b89d, 0px 0 #09b89d;"></span></a></li>
                                                </ul>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                            <li id="menu-item-10279" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-simple-parent ">
                                                <a href="/Content/Admin/#" style="color:#ffd338">Branches<span class="menu-highlighter" style="text-shadow: 8px 0 #ffd338, -8px 0 #ffd338, 0px 0 #ffd338;"></span></a>

                                                <ul class="sub-menu animate dtfadeInUp">
                                                    <li id="menu-item-11081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/contact/contact-i/" style="color:#ffd338">Contact I<span class="menu-highlighter" style="text-shadow: 8px 0 #ffd338, -8px 0 #ffd338, 0px 0 #ffd338;"></span></a></li>
                                                    <li id="menu-item-11083" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/contact/contact-ii/" style="color:#ffd338">Contact II<span class="menu-highlighter" style="text-shadow: 8px 0 #ffd338, -8px 0 #ffd338, 0px 0 #ffd338;"></span></a></li>
                                                    <li id="menu-item-11082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/store-locator/" style="color:#ffd338">Store Locator<span class="menu-highlighter" style="text-shadow: 8px 0 #ffd338, -8px 0 #ffd338, 0px 0 #ffd338;"></span></a></li>
                                                </ul>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                            <li id="menu-item-10269" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-simple-parent ">
                                                <a href="/Content/Admin/#" style="color:#10b6fe">Parents<span class="menu-highlighter" style="text-shadow: 8px 0 #10b6fe, -8px 0 #10b6fe, 0px 0 #10b6fe;"></span></a>

                                                <ul class="sub-menu animate dtfadeInUp">
                                                    <li id="menu-item-10732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/faqs-for-parents/" style="color:#10b6fe">FAQs for Parents<span class="menu-highlighter" style="text-shadow: 8px 0 #10b6fe, -8px 0 #10b6fe, 0px 0 #10b6fe;"></span></a></li>
                                                    <li id="menu-item-10277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/dos-donts/" style="color:#10b6fe">Do&#8217;s &#038; Dont&#8217;s<span class="menu-highlighter" style="text-shadow: 8px 0 #10b6fe, -8px 0 #10b6fe, 0px 0 #10b6fe;"></span></a></li>
                                                    <li id="menu-item-10278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/testimonials-2/" style="color:#10b6fe">Testimonials<span class="menu-highlighter" style="text-shadow: 8px 0 #10b6fe, -8px 0 #10b6fe, 0px 0 #10b6fe;"></span></a></li>
                                                    <li id="menu-item-10275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/food-fitness/" style="color:#10b6fe">Food &#038; Fitness<span class="menu-highlighter" style="text-shadow: 8px 0 #10b6fe, -8px 0 #10b6fe, 0px 0 #10b6fe;"></span></a></li>
                                                    <li id="menu-item-10276" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Content/Admin/https://kidsheaven.wpengine.com/child-development/" style="color:#10b6fe">Child Development<span class="menu-highlighter" style="text-shadow: 8px 0 #10b6fe, -8px 0 #10b6fe, 0px 0 #10b6fe;"></span></a></li>
                                                </ul>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                            <li id="menu-item-11478" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 with-box-shadow  menu-item-megamenu-parent  megamenu-4-columns-group">
                                                <a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/" style="color:#ff5722">Elements<span class="menu-highlighter" style="text-shadow: 8px 0 #ff5722, -8px 0 #ff5722, 0px 0 #ff5722;"></span></a>
                                                <div class='megamenu-child-container animate dtfadeInUp'>
                                                    <ul class="sub-menu ">
                                                        <li id="menu-item-11505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                                            <a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/" style="color:#000000">Shortcodes i<span class="menu-highlighter" style="text-shadow: 8px 0 #000000, -8px 0 #000000, 0px 0 #000000;"></span></a>
                                                            <ul class="sub-menu ">
                                                                <li id="menu-item-11479" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/typography/" style="color:#35beea">Typography<span class="menu-highlighter" style="text-shadow: 8px 0 #35beea, -8px 0 #35beea, 0px 0 #35beea;"></span></a></li>
                                                                <li id="menu-item-11485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/tabs-toggles/" style="color:#35beea">Tabs &#038; Toggles<span class="menu-highlighter" style="text-shadow: 8px 0 #35beea, -8px 0 #35beea, 0px 0 #35beea;"></span></a></li>
                                                                <li id="menu-item-11490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/buttons-lists/" style="color:#35beea">Buttons &#038; Lists<span class="menu-highlighter" style="text-shadow: 8px 0 #35beea, -8px 0 #35beea, 0px 0 #35beea;"></span></a></li>
                                                                <li id="menu-item-11499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/pricing-table/" style="color:#35beea">Pricing Table<span class="menu-highlighter" style="text-shadow: 8px 0 #35beea, -8px 0 #35beea, 0px 0 #35beea;"></span></a></li>
                                                                <li id="menu-item-11491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/content-shortcodes/" style="color:#35beea">Content Shortcodes<span class="menu-highlighter" style="text-shadow: 8px 0 #35beea, -8px 0 #35beea, 0px 0 #35beea;"></span></a></li>
                                                            </ul>
                                                            <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                        </li>
                                                        <li id="menu-item-11506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                                            <a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/" style="color:#000000">Shortcodes ii<span class="menu-highlighter" style="text-shadow: 8px 0 #000000, -8px 0 #000000, 0px 0 #000000;"></span></a>
                                                            <ul class="sub-menu ">
                                                                <li id="menu-item-11480" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/progress-bar/" style="color:#ff5722">Progress Bar<span class="menu-highlighter" style="text-shadow: 8px 0 #ff5722, -8px 0 #ff5722, 0px 0 #ff5722;"></span></a></li>
                                                                <li id="menu-item-11486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/columns/" style="color:#ff5722">Columns<span class="menu-highlighter" style="text-shadow: 8px 0 #ff5722, -8px 0 #ff5722, 0px 0 #ff5722;"></span></a></li>
                                                                <li id="menu-item-11489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/blockquotes/" style="color:#ff5722">Blockquotes<span class="menu-highlighter" style="text-shadow: 8px 0 #ff5722, -8px 0 #ff5722, 0px 0 #ff5722;"></span></a></li>
                                                                <li id="menu-item-11494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/fancy-boxes/" style="color:#ff5722">Fancy Boxes<span class="menu-highlighter" style="text-shadow: 8px 0 #ff5722, -8px 0 #ff5722, 0px 0 #ff5722;"></span></a></li>
                                                                <li id="menu-item-11493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/event-shortcodes/" style="color:#ff5722">Event Shortcodes<span class="menu-highlighter" style="text-shadow: 8px 0 #ff5722, -8px 0 #ff5722, 0px 0 #ff5722;"></span></a></li>
                                                            </ul>
                                                            <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                        </li>
                                                        <li id="menu-item-11507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                                            <a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/" style="color:#000000">Shortcodes iii<span class="menu-highlighter" style="text-shadow: 8px 0 #000000, -8px 0 #000000, 0px 0 #000000;"></span></a>
                                                            <ul class="sub-menu ">
                                                                <li id="menu-item-11481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/contact-info/" style="color:#624dd6">Contact Info<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                                <li id="menu-item-11487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/team/" style="color:#624dd6">Team<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                                <li id="menu-item-11495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/icon-boxes/" style="color:#624dd6">Icon Boxes<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                                <li id="menu-item-11484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/timeline/" style="color:#624dd6">Timeline<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                                <li id="menu-item-11497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/miscellaneous/" style="color:#624dd6">Miscellaneous<span class="menu-highlighter" style="text-shadow: 8px 0 #624dd6, -8px 0 #624dd6, 0px 0 #624dd6;"></span></a></li>
                                                            </ul>
                                                            <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                        </li>
                                                        <li id="menu-item-11508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                                            <a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/" style="color:#000000">Shortcodes iv<span class="menu-highlighter" style="text-shadow: 8px 0 #000000, -8px 0 #000000, 0px 0 #000000;"></span></a>
                                                            <ul class="sub-menu ">
                                                                <li id="menu-item-11511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/testimonials/" style="color:#e0208f">Testimonials<span class="menu-highlighter" style="text-shadow: 8px 0 #e0208f, -8px 0 #e0208f, 0px 0 #e0208f;"></span></a></li>
                                                                <li id="menu-item-11488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/carousel/" style="color:#e0208f">Carousel<span class="menu-highlighter" style="text-shadow: 8px 0 #e0208f, -8px 0 #e0208f, 0px 0 #e0208f;"></span></a></li>
                                                                <li id="menu-item-11496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/image-with-caption/" style="color:#e0208f">Image With Caption<span class="menu-highlighter" style="text-shadow: 8px 0 #e0208f, -8px 0 #e0208f, 0px 0 #e0208f;"></span></a></li>
                                                                <li id="menu-item-11498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/number-counter/" style="color:#e0208f">Number Counter<span class="menu-highlighter" style="text-shadow: 8px 0 #e0208f, -8px 0 #e0208f, 0px 0 #e0208f;"></span></a></li>
                                                                <li id="menu-item-11492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Content/Admin/https://kidsheaven.wpengine.com/shortcodes/custom-posts/" style="color:#e0208f">Custom Posts<span class="menu-highlighter" style="text-shadow: 8px 0 #e0208f, -8px 0 #e0208f, 0px 0 #e0208f;"></span></a></li>
                                                            </ul>
                                                            <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                        </li>
                                                        <li id="menu-item-12430" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area  fill-four-columns ">
                                                            <div class="menu-item-widget-area-container">
                                                                <ul>
                                                                    <li id="text-12" class="widget widget_text">
                                                                        <div class="textwidget"><a href="/Content/Admin/https://themeforest.net/item/kids-world-kids-education-wp-theme/19646988"><img src="/Content/Admin/https://kidsheaven.wpengine.com/wp-content/uploads/2017/03/megamenu_image.jpg" alt="" title=""></a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                                </div>
                                                <a class="dt-menu-expand" href="/Content/Admin/javascript:void(0)">+</a>
                                            </li>
                                        </ul>
                                    </nav>	<div class="menu-icons-wrapper">
                                        <div class="search">
                                            <a href="/Content/Admin/javascript:void(0)" class="dt-search-icon"> <span class="fa fa-search"> </span> </a>
                                            <div class="top-menu-search-container">
                                                <!-- **Searchform** -->
                                                <form method="get" id="searchform" action="https://kidsheaven.wpengine.com/">
                                                    <input id="s" name="s" type="text"
                                                           value="Enter Keyword" class="text_input"
                                                           onblur="if(this.value==''){this.value='Enter Keyword';}"
                                                           onfocus="if(this.value =='Enter Keyword') {this.value=''; }" />
                                                    <a href="/Content/Admin/javascript:void(0)" class="dt-search-icon"> <span class="fa fa-close"> </span> </a>
                                                    <input name="submit" type="submit" value="Go" />
                                                </form><!-- **Searchform - End** -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- **Main Header** --><div id="slider">                        
                    </div>
                </header><!-- **Header - End** -->
            </div><!-- **Header Wrapper - End** -->
            <!-- **Main** -->
            <div id="main">
                <!-- ** Container ** -->
            @RenderBody()
                <!-- **Container - End** -->
            </div><!-- **Main - End** -->            <!-- **Footer** -->
            <footer id="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class='column dt-sc-one-fourth first'>
                            <aside id="text-7" class="widget widget_text">
                                <div class="textwidget">
                                    <a href="/Content/Admin/#"><img src="/Content/Admin/https://kidsheaven.wpengine.com/wp-content/uploads/2017/02/footer_logo.png" alt="" title=""></a><div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                                    <p><span class="highlight skyblue"><strong>KidsWorld</strong></span>  provides broad range of learning programs and activities that's unique in itself </p><div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                                    <ul class='dt-sc-fancy-list  skyblue  tick'>
                                        <li>Mountain Trekking Programs</li>
                                        <li>Inter School Competitions</li>
                                        <li>Awards and Ceremony</li>
                                    </ul>
                                </div>
                            </aside>
                        </div><div class='column dt-sc-one-fourth '>
                            <aside id="text-8" class="widget widget_text">
                                <h3 class="widgettitle">Instagram</h3>			<div class="textwidget">
                                    <div id="sb_instagram" class="sbi sbi_mob_col_auto sbi_col_3" style="width:100%; padding-bottom: 10px; " data-id="3317628269" data-num="9" data-res="auto" data-cols="3" data-options='{&quot;sortby&quot;: &quot;none&quot;, &quot;showbio&quot;: &quot;false&quot;,&quot;feedID&quot;: &quot;3317628269&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;5&quot;,&quot;mid&quot;: &quot;MTY3N2VkMA==&quot;, &quot;disablecache&quot;: &quot;false&quot;, &quot;sbiCacheExists&quot;: &quot;true&quot;,&quot;callback&quot;: &quot;MzZhYmIxMmQ3YzFi.NDlhZWE1MWNmZDhkODNlOGRmMzY=&quot;, &quot;sbiHeaderCache&quot;: &quot;true&quot;}'><div id="sbi_images" style="padding: 5px;"><div class="sbi_loader fa-spin"></div></div><div id="sbi_load"></div></div>
                                    <script type="text/javascript">var sb_instagram_js_options = { "sb_instagram_at": "3317628269.MTY3N2VkMA==.MzZhYmIxMmQ3YzFi.NDlhZWE1MWNmZDhkODNlOGRmMzY=", "font_method": "svg" };</script>
                                    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/instagram-feed/js/sb-instagram.js?ver=1.9'></script>
                                </div>
                            </aside>
                        </div><div class='column dt-sc-one-fourth '>
                            <aside id="text-9" class="widget widget_text">
                                <h3 class="widgettitle">Contact Us</h3>			<div class="textwidget">
                                    <div class='dt-sc-contact-info type1 '><span class='pe-icon pe-call'> </span>Phone: +541 595 8389</div><div class='dt-sc-contact-info type1 '><span class='pe-icon pe-mail'> </span><a title="" href="/Content/Admin/#"> kids@email.com </a></div><div class='dt-sc-contact-info type1 '>
                                        <span class='pe-icon pe-map-marker'> </span>Address: Clinton Lane
                                        Wilkes Barre, PA 18702
                                    </div>
                                </div>
                            </aside>
                        </div><div class='column dt-sc-one-fourth '>
                            <aside id="text-10" class="widget widget_text">
                                <h3 class="widgettitle">Newsletter Signup</h3>			<div class="textwidget">
                                    <div class='dt-sc-newsletter-section  footer_newsletter'><h2>Get latest updates, news, surveys & offers</h2><form class="dt-sc-subscribe-frm" name="frmsubscribe" action="#" method="post"><input type='email' name='dt_mc_emailid' required='required' placeholder='Email-id'><input type='hidden' name='dt_mc_apikey' value='' /><input type='hidden' name='dt_mc_listid' value='' /><input type='submit' name='mc_submit' value='&#xf003;'></form><div class="dt_ajax_subscribe_msg"></div></div><div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
                                    <ul class='dt-sc-sociable  alignleft'><li> <a class='fa fa-facebook' title='Facebook' href='#'> </a> </li><li> <a class='fa fa-twitter' title='Twitter' href='#'> </a> </li><li> <a class='fa fa-pinterest' title='Pinterest' href='#'> </a> </li><li> <a class='fa fa-instagram' title='Instagram' href='#'> </a> </li></ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </footer><!-- **Footer - End** -->
        </div><!-- **Inner Wrapper - End** -->
    </div><!-- **Wrapper - End** -->
    <!-- Instagram Feed JS -->
    <script type="text/javascript">
        var sbiajaxurl = "https://kidsheaven.wpengine.com/wp-admin/admin-ajax.php";
    </script>
    <script>
    (function (body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);</script>
    <script type='text/javascript'>/* <![CDATA[ */var tribe_l10n_datatables = { "aria": { "sort_ascending": ": activate to sort column ascending", "sort_descending": ": activate to sort column descending" }, "length_menu": "Show _MENU_ entries", "empty_table": "No data available in table", "info": "Showing _START_ to _END_ of _TOTAL_ entries", "info_empty": "Showing 0 to 0 of 0 entries", "info_filtered": "(filtered from _MAX_ total entries)", "zero_records": "No matching records found", "search": "Search:", "pagination": { "all": "All", "next": "Next", "previous": "Previous" }, "select": { "rows": { "0": "", "_": ": Selected %d rows", "1": ": Selected 1 row" } }, "datepicker": { "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"], "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "nextText": "Next", "prevText": "Prev", "currentText": "Today", "closeText": "Done" } };/* ]]> */</script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <link rel='stylesheet' id='animate-css-css' href='https://kidsheaven.wpengine.com/wp-content/plugins/js_composer/assets/lib/bower/animate-css/animate.min.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_google_fonts_oleo_scriptregular700-css' href='//fonts.googleapis.com/css?family=Oleo+Script%3Aregular%2C700&#038;ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_google_fonts_roboto100100italic300300italicregularitalic500500italic700700italic900900italic-css' href='//fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&#038;ver=4.9.9' type='text/css' media='all' />
    <script type='text/javascript'>
    /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/kidsheaven.wpengine.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } }, "cached": "1" };
        /* ]]> */</script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.2'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tabs.min.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tipTip.minified.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.inview.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.animateNumber.min.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.donutchart.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/designthemes-core-features/shortcodes/js/shortcodes.js?ver=4.9.9'></script>
    <script type='text/javascript' src='//kidsheaven.wpengine.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
    <script type='text/javascript' src='//kidsheaven.wpengine.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
        /* ]]> */</script>
    <script type='text/javascript' src='//kidsheaven.wpengine.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.0.5'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments" };
        /* ]]> */</script>
    <script type='text/javascript' src='//kidsheaven.wpengine.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.0.5'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/framework/js/jquery.ui.totop.min.js?ver=4.9.9'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
        var dttheme_urls = { "theme_base_url": "https:\/\/kidsheaven.wpengine.com\/wp-content\/themes\/kids-world", "framework_base_url": "https:\/\/kidsheaven.wpengine.com\/wp-content\/themes\/kids-world\/framework\/", "ajaxurl": "https:\/\/kidsheaven.wpengine.com\/wp-admin\/admin-ajax.php", "url": "https:\/\/kidsheaven.wpengine.com", "stickynav": "enable", "stickyele": ".main-header-wrapper", "isRTL": "", "loadingbar": "disable", "nicescroll": "disable", "advOptions": "Show Advanced Options", "loadisotope": "1" };
/* ]]> */</script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/framework/js/jquery.plugins.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/framework/js/jquery.visualNav.min.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/themes/kids-world/framework/js/custom.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-includes/js/wp-embed.min.js?ver=4.9.9'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.1.1'></script>
    <script type='text/javascript' src='https://kidsheaven.wpengine.com/wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.min.js?ver=5.1.1'></script>
    <script type="text/css" id="tmpl-tribe_customizer_css">
        .tribe-events-list .tribe-events-loop .tribe-event-featured,
        .tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
        background-color: #0ea0d7;
        }

        #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
        background-color: #0ea0d7;
        }

        .tribe-events-list-widget .tribe-event-featured,
        .tribe-events-venue-widget .tribe-event-featured,
        .tribe-mini-calendar-list-wrapper .tribe-event-featured,
        .tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
        background-color: #0ea0d7;
        }

        .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
        background-color: rgba(14,160,215, .7 );
        border-color: #0ea0d7;
        }

        .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
        background-color: #0ea0d7;
        }
    </script>
    <style type="text/css" id="tribe_customizer_css">
        .tribe-events-list .tribe-events-loop .tribe-event-featured,
        .tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
            background-color: #0ea0d7;
        }

        #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
            background-color: #0ea0d7;
        }

        .tribe-events-list-widget .tribe-event-featured,
        .tribe-events-venue-widget .tribe-event-featured,
        .tribe-mini-calendar-list-wrapper .tribe-event-featured,
        .tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
            background-color: #0ea0d7;
        }

        .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
            background-color: rgba(14,160,215, .7 );
            border-color: #0ea0d7;
        }

            .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
                background-color: #0ea0d7;
            }
    </style>
</body>
</html>